*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body {
    padding: 0;
    margin: auto;
    width: 100vw;
    height: 100vw;
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.container {
    width: 350px;
    max-width: 80%;
    background-color: pink;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
    
    
}
button {
    width: 100;
    margin: 0 ;
    font-size: 150%;
}

.btn.grid {
    display: grid;
    grid-template-columns: repeat(2 auto);
    gap: 10px;
    margin: 20px;
}

.btn {
    border: 3px solid aqua;
    background-color: #F08080;
    border-radius: 5px;
    color: white;
}
.btn:hover {
    background-color: lightblue;
}
p {
    font-size: 20px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    display: flex
}
