*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body {
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vw;
    justify-content:center;
    align-items: center;
    background-color: aqua;
}

.container {
    width: 800px;
    max-width: 70%;
    background-color: pink;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
}

.btn.grid {}

p {

}